<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/p5.ejs %>

</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
      <% include ../partials/header.ejs %>
  </div>
</div>
    
</body>
</html>
